// Logo Hydrant
.logoHydrant {
  text-align: start;
  padding: 10px;
  position: fixed;
  z-index: 1000 ;
  width: 100%;
  background: white;

  a {
    display: inline-block;
    text-decoration: none;
    @include transition(transform);

    &:hover {
      transform: scale(1.05);
    }
  }

  #hydrant {
    width: 50px;
    height: 50px;
    display: block; 
  }
}
